<p id="notice"><%= notice %></p>
<div id="#content-wrapper">

<h1>PA Pappy Scraper</h1>

	<div class="left">
		<p><strong>Current Online Inventory: <%= @site_datum.inventory %></strong></p>
	</div>
	<div class="right">
		<p><strong>Is There Pappy: <%= @site_datum.pappy %></strong></p>
	</div>
	<img src="http://oldripvanwinkle.com/wp-content/uploads/2011/10/23ylabel1.jpg">
</div>

